* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem; /* khôi phục lại cỡ chữ mặc định tính theo rem */
  font-family: "Poppins", sans-serif;
}
:root {
  --primary-color: #1ebfc1;
}
/* ==============================================common=========================================== */
a {
  text-decoration: none;
  color: currentColor;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
  /* background-color: red; */
}

/* ==============================================header=========================================== */
.header {
  padding-top: 52px;
  padding-bottom: 8px;
  background-color: #fff;
  z-index: 99;
}
.header.fixed {
  position: sticky;
  top: -44px;
}
.header .body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .body ul {
  display: flex;
  gap: 39px;
}
.header .body a {
  color: #2f3a3b;
  font-size: 1.6rem;
}
.header li.active a,
.header .body a:hover {
  color: #2f3a3b;
  font-size: 1.6rem;
  text-shadow: 1px 0 1px #2f3a3b;
}
.header .user {
  display: flex;
  align-items: center;
}
.header .body .desc {
  color: #494949;
  font-size: 1.6rem;
  margin-right: 24px;
  cursor: pointer;
}
.header .btn-sign-up {
  border: none;
  width: 108px;
  height: 48px;
  border-radius: 6px;
  border: 1px solid var(--primary-color);
  background-color: transparent;
  cursor: pointer;
}
.header button {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 600;
}
/* ==============================================hero=========================================== */
.hero {
  padding-bottom: 79px;
  margin-top: 12px;

  padding-top: 30px;
}
.hero .body {
  display: flex;
}
.hero .hero-left {
  padding-top: 93px;
  width: 39%;
}
.hero .hero-left strong {
  color: #767e7e;
  font-size: 1.4rem;
}
.hero .hero-left .title {
  color: #0d1111;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.16;
  margin-top: 18px;
}
.hero .hero-left .desc {
  margin-top: 47px;
  color: #9da6a5;
  font-size: 1.8rem;
  line-height: 1.77;
  width: 374px;
}
.hero .hero-left .get-started {
  margin-top: 52px;
  display: flex;
  gap: 50px;
}
.hero .hero-left .get-started button {
  width: 186px;
  height: 68px;
  border: none;
  border-radius: 14px;
  background: var(--primary-color);
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
}
.hero .hero-left img {
  width: 62px;
  height: 62px;
  padding: 22px;
  border-radius: 62px;
  background: #fff;
  box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}
.hero .hero-right {
  width: 61%;
  position: relative;
}
.hero .hero-right .teacher {
  width: 576px;
  height: 631px;
  margin-left: 136px;
}
.hero .hero-right .courses {
  display: flex;
  position: absolute;
  top: 149px;
  left: 96px;
  width: 157px;
  height: 75px;
  border-radius: 18px;
  background: #fefefd;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
  align-items: center;
}
.hero-right .courses .book {
  width: 36px;
  height: 40px;
  margin-left: 25px;
}

.hero-right .courses::after {
  content: "";
  width: 28px;
  height: 4px;
  background-color: white;
  display: inline-block;
  position: absolute;
  top: 45px;
  left: 29px;
  border-radius: 5px;
}
.hero-right .courses .course-quantity {
  margin-left: 16px;
}
.hero-right .courses span {
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
  width: 55px;
}
.hero-right .schedules {
  position: absolute;
  top: 453px;
  left: 71px;
  display: flex;
  flex-direction: column;
  /*  */
  width: 124px;
  height: 132px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
  justify-content: center;
  align-items: center;
}
.hero-right .schedules .title {
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
}
.hero-right .schedules1 {
  margin-top: 16px;
  width: 74px;
  height: 6px;
}
.hero-right .schedules3,
.hero-right .schedules2 {
  width: 74px;
  height: 6px;
  margin-top: 12px;
}
.hero-right .schedules4 {
  margin-top: 16px;
  width: 26px;
  height: 6px;
}
.hero-right .student-list {
  position: absolute;
  top: 500px;
  left: 460px;
  width: 207px;
  height: 90px;
  border-radius: 24px;
  background: #fefefd;
  box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
  padding: 17px 35px;
}
.hero-right .ava-list {
  display: flex;
  margin-top: 8px;
}
.hero-right .student-list .title {
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
}
.hero-right .student-list .ava {
  margin-left: -7px;
}
.hero-right .quantity-10k {
  width: 33px;
  height: 33px;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-right .quantity-10k span {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
}
/* ==============================================features=========================================== */
.features {
  padding-bottom: 65px;
}
.features .body-top {
  /* width: 50.4%; */
  margin-top: 130px;
}
.features .body {
  max-width: 1024px;
}
.features .body-top span {
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
}
.features .body-top .title {
  margin: 18px 0 18px;
  max-width: 577px;
  color: #0d1111;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1.33;
}

.features .body-top .desc {
  color: #767e7e;
  font-size: 1.8rem;
  line-height: normal;
  max-width: 590px;
}
.features .body-bottom {
  display: flex;
  margin-top: 80px;
  justify-content: space-between;
}
.features img {
  width: 102px;
  height: 106px;
}
.features span {
  color: #0d1111;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 26px;
  cursor: pointer;
}
.features .features-icon {
  display: flex;
  flex-direction: column;
}
.features .body-bottom .desc {
  margin-top: 16px;
  color: #9da6a5;
  font-size: 1.6rem;
  line-height: 1.68;
}

.features .live-class {
  width: 168px;
}
.features .discuss {
  width: 223px;
}
.features .task {
  width: 224px;
}
/* ==============================================courses01=========================================== */
.courses01 {
  padding: 65px 0 190px;
}
.courses01 .web-list {
  display: flex;
  margin-top: 79px;
  justify-content: space-between;
}
.courses01 .web-list .thumb {
  width: 359px;
  border-radius: 8px;
  opacity: 0.35;
  background: #d0efed;
  object-fit: cover;
  height: 393px;
}
.courses01 .lable {
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
}
.courses01 .title {
  color: #0d1111;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: normal;
  margin-top: 18px;
}
.courses01 .desc-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.courses01 .desc-block .desc {
  color: #767e7e;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.77;
  max-width: 525px;
}
.courses01 .desc-block .view-all {
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}
.courses01 .web-list01 {
  width: 359px;
  position: relative;
}
.courses01 .web-list02 {
  width: 359px;
  position: relative;
}
.courses01 .web-list03 {
  position: relative;
  width: 359px;
}
.courses01 .info {
  position: absolute;
  top: 322px;
  left: 17px;
  width: 325px;
  height: 195px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}
.courses01 .title-h2 {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: normal;
  margin-left: 25px;
  margin-top: 18px;
}
.courses01 .fee {
  color: #767e7e;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: normal;
  margin-left: 25px;
  margin-top: 16px;
}
.courses01 .info span {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: normal;
}
.courses01 .info .desc {
  color: #9da6a5;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: normal;
  margin-left: 25px;
  margin-top: 6px;
}
.courses01 .info .number {
  display: flex;
  position: relative;
}
.courses01 .info .number .desc {
  color: #9da6a5;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: normal;
  margin-top: 18px;
  margin-left: 41px;
  position: relative;
}
.courses01 .info .number01 {
  position: relative;
}
.courses01 .info .number02 .desc::before,
.courses01 .info .number01 .desc::before {
  content: "";
  width: 6px;
  height: 6px;
  background-color: var(--primary-color);
  position: absolute;
  border-radius: 50%;
  left: -14px;
  top: 6px;
}
/* ==============================================stats=========================================== */
.stats {
  padding: 65px 0 65px;
  margin-top: 135px;
}
.stats .body {
  display: flex;
  justify-content: space-between;
  width: 73.6%;
  margin-left: auto;
  margin-right: auto;
}
.stats span {
  color: #0d1111;
  text-align: center;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: normal;
}
.stats p {
  color: #767e7e;
  text-align: center;
  font-size: 1.8rem;
  line-height: normal;
  margin-top: 11px;
}
/* ==============================================feedback=========================================== */
.feedback {
  padding: 65px 0 65px;
  margin-top: 200px;
}
.feedback .body {
  display: flex;
}
.feedback-left {
}
.feedback-left .quote {
  margin-top: 37px;
  width: 36px;
  height: 29px;
}
.feedback-left .they-are {
  max-width: 419px;
  color: #5d6564;
  font-size: 3.2rem;
  line-height: 1.5;
  margin-top: 27px;
}
.feedback-left .ben-foakes {
  margin-top: 33px;
  display: flex;
  align-items: center;
}
.feedback-left .ben-foakes::before {
  content: "";
  left: 0;
  display: block;
  width: 8px;
  height: 2px;
  background: #070707;
}
.feedback-left .ben-foakes span {
  color: #070707;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: normal;
  margin-left: 5px;
}
.feedback-left .ben-foakes p {
  color: #767e7e;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: normal;
}
.feedback-left .button {
  display: flex;
  margin-top: 52px;
}
.feedback-left .button .btn {
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.feedback-left .button .btn-next {
  margin-left: 30px;
}
.feedback-right {
  width: 64.1%;
  position: relative;
}
.feedback-right .fb-ava {
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
}
.feedback-right .avatar01 {
  width: 92px;
  height: 92px;
  top: 0;
  left: 216px;
}
.feedback-right .avatar02 {
  width: 110px;
  height: 110px;
  top: 19px;
  left: 641px;
}
.feedback-right .avatar03 {
  width: 78px;
  height: 78px;
  bottom: 29px;
  left: 641px;
}
.feedback-right .avatar04 {
  width: 78px;
  height: 78px;
  bottom: 0;
  left: 284px;
}
.feedback-right .avatar05 {
  width: 78px;
  height: 78px;
  left: 72px;
  top: 258px;
}
.feedback-right .avatar06 {
  width: 235px;
  height: 235px;
  top: 107px;
  left: 345px;
}
/* ==============================================CTA=========================================== */
.cta {
  padding: 65px 0 88px;
  background: #def6f5;
  margin-top: 130px;
}
.cta .body {
  display: flex;
  max-width: 1016px;
  justify-content: space-between;
  align-items: center;
}
.cta-left .ready {
  color: #070707;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: normal;
  margin-top: 11px;
}
.cta-left .desc {
  color: #767e7e;
  font-size: 1.8rem;
  line-height: normal;
}
.cta-right .cta-btn {
  border: none;
  width: 186px;
  height: 68px;
  border-radius: 14px;
  background: var(--primary-color);
  cursor: pointer;
}
.cta-right p {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;
}
/* ==============================================footer=========================================== */
footer .body {
  margin-top: 136px;
  display: flex;
  justify-content: space-between;
}
footer .logo-besnik {
  width: 127px;
  height: 37px;
}
footer h2 {
  color: #2e2e2e;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 25px;
}

footer p {
  color: #535353;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: normal;
}
.footer05 .ft {
  display: flex;
  align-items: center;
  gap: 9px;
}
.footer03 .test,
.footer04 .test,
.footer05 .test,
.footer02 .test {
  gap: 20px;
  display: flex;
  flex-direction: column;
}
footer .copyright {
  color: #b0b5b4;
  font-size: 1.8rem;
  line-height: normal;
  margin-top: 80px;
  text-align: center;
  margin-bottom: 50px;
}
